# Ignore build files
/build/
*.class
*.jar

# Ignore IDE and system files
.idea/
.vscode/
.DS_Store

# Ignore dependency caches
.gradle/
out/


# Ignore macOS system files
.DS_Store

# Ignore Gradle and build artifacts
.gradle/
bin/
build/
*.tar
*.zip
*.jar

